<section class="topbar-wrapper" [class.full-wrap]="toggleSidebar">
    <div class="header">
        <div class="d-flex justify-content-between">
            <div *ngIf="showTitle" class="d-flex align-items-center justify-content-between">
                <h4 class="topBar-title">Dashboard</h4>
            </div>
                        
            <div class="profile d-flex align-items-center  me-3">
                <div class="search-container">
                    <i class="fa fa-search search-icon"></i>
                    <input type="text" placeholder="Search here.." class="search-bar h-auto">
                </div>
                <div class="d-flex flex-row align-items-center justify-content-center Profile me-5"
                    (click)="toggleLangDropdown()">
                    
                    <img src="assets/images/United.svg" class="img-fluid united-image me-2">

                    <h1 class="flex-item mb-0 Profile-text me-2">Eng (US)</h1>

                    <div class="dropdown">
                        <i class="fa-solid fa-angle-down arrow-icon"></i>
                        <ul *ngIf="isDropdownLangVisible" class="dropdown-menu">
                            <div class="body">
                                <li class="dropdown-item mb-2 d-flex align-items-center" >
                                    <span class="ms-2 text-color">Eng (Brit)</span>
                                </li>
                                <li class="dropdown-item d-flex align-items-center">
                                    <span class="ms-2 text-color">Eng (UK)</span>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="me-3">
                    <i class="fa-regular fa-bell notification-icon"></i>
                </div>

                <div class="d-flex flex-row align-items-center justify-content-center Profile"
                    (click)="toggleDropdown()">

                    <img src="assets/images/profileImage.png" class="img-fluid Profile-image me-2">

                    <h1 class="flex-item mb-0 Profile-text me-2">{{userName}}</h1>

                    <div class="dropdown">
                        <i class="fa-solid fa-angle-down arrow-icon"></i>
                        <ul *ngIf="isDropdownVisible" class="dropdown-menu">
                            <div class="d-flex align-items-center">
                                <img src="assets/images/profileImage.png" class="img-fluid Profile-image me-2 ms-2">
                                <span class="flex-item mb-0 Profile-text me-2">{{userName}}</span>
                            </div>
                            <hr class="mt-2">
                            <div class="body">

                                <li class="dropdown-item mb-2 d-flex align-items-center" (click)="updateProfile()">
                                    <i class="fa fa-user-circle icon-color"></i>
                                    <span class="ms-2 text-color">Profile</span>
                                </li>

                                <li class="dropdown-item d-flex align-items-center" (click)="resetPassword()">
                                    <i class="fa fa-lock icon-color"></i>
                                    <span class="ms-2 text-color">Reset Password</span>
                                </li>
                            </div>
                        
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>