.topbar-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 998;
    transition: all 0.5s ease;
}

.topbar-wrapper.full-wrap {
    left: 60px;
}

.header {
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.topBar-title {
    color: #363636;
    font-size: 36px;
}

.Profile .Profile-text {
    font-size: 16px;
    color: #374557;
    cursor: pointer;
}

.Profile .Profile-image {
    width: 30px;
}

.Profile .Profile-arrow {
    cursor: pointer;
}

.drop-item {
    width: 16px;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -165px;
    top: 35px;
    width: 200px;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 60px;
}

input[type="text"] {
    padding: 8px 33px;
    border-radius: 8px;
    border: none;
}

.search-bar {
    width: 100%;
    padding-left: 35px;
    /* Add padding to make space for the icon */
    height: auto;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    background-color: #ECF1F5;
    margin-bottom: 0px;
}

.search-icon {
    position: absolute;
    left: 10px;
    font-size: 16px;
    color: #20CC90;
}

.notification-icon {
    color: #20CC90;
    border: 0.5px solid #D0E0FF;
    padding: 6px 7px;
    border-radius: 7px;
    font-size: 14px;
}

@media (min-width: 992px) {
    .search-bar {
        width: 25rem;
    }

    .Profile .Profile-arrow {
        width: 13px;
    }

    .topbar-wrapper {
        left: 285px;
    }
}

@media (max-width: 992px) {
    .topBar-title {
        font-size: 20px;
        margin-left: 25px;
        margin-right: 8px;
    }

    .Profile .Profile-arrow {
        width: 25px;
    }
    .topbar-wrapper {
        left: 250px;
    }
}