.topbar-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 998;
    transition: all 0.5s ease;
    width: 100%;
}


.header {
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.topBar-title {
    color: #363636;
    font-size: 36px;
}

.Profile .Profile-text {
    font-size: 16px;
    color: #374557;
    cursor: pointer;
}

.Profile .Profile-image {
    width: 30px;
}

.Profile .arrow-icon {
    cursor: pointer;
}

.drop-item {
    width: 16px;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -165px;
    top: 35px;
    width: 200px;
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-container input[type="text"] {
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    padding: 8px 33px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search-container .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #20CC90;
    font-size: 16px;
}

.popup-search {
    position: absolute;
    top: 35px;
    z-index: 1000;
}

.search-bar {
    padding-left: 35px;
    height: auto;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    background-color: #ECF1F5;
    margin-bottom: 0px;
}

.notification-icon {
    color: #20CC90;
    border: 0.5px solid #D0E0FF;
    padding: 6px 7px;
    border-radius: 7px;
    font-size: 14px;
}

.nav-item a {
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
}

a {
    color: #363636;
    cursor: pointer;
}

a:hover {
    color: #363636;
}

.nav-item a.active {
    color: #20CC90 !important;
}

.activeClass {
    color: #20CC90;
}

.larger {
    font-size: 1.5em;
    transform: scale(1.2);
    transition: transform 0.3s ease, font-size 0.3s ease;
}

.nav-item .nav-link {
    font-size: 1em;
    transition: transform 0.3s ease, font-size 0.3s ease;
}

.main-arrow-icon {
    color: #20CC90;
    font-size: 12px;
}

.navbar {
    position: absolute;
    top: 1;
    left: 0;
}


@media (min-width: 1200px) {
    .topbar-wrapper {
        left: 285px;
        width: auto;
    }
}

@media (min-width: 920px) {
    .search-bar {
        width: 25rem;
    }
}

@media (max-width: 920px) {
    .search-container .search-icon {
        cursor: pointer;
    }
}

@media (max-width: 620px) {
    .header {
        height: 60px;
    }
}

@media (max-width: 480px) {
    .search-container {
        margin-right: 40px;
    }
    .search-bar {
        width: 12rem;
    }
}

@media (min-width: 480px) {
    .search-container {
        margin-right: 60px;
    }

    .search-bar {
        width: 20rem;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .topBar-title {
        color: #363636;
        font-size: 20px;
    }
}