.main-wrapper {
    margin-top: 75px !important;
}

.account-title {
    font-weight: 600;
    font-size: 20px;
    color: #363636;
}

.arrow-icon {
    color: #20CC90;
}

.header-btn {
    background-color: white; 
    color: #20CC90; 
    border: 3px solid #20CC90; 
    padding: 3px 20px; 
    cursor: pointer;
    border-radius: 8px;
}


.accordion-button:focus {
    z-index: 3;
    outline: none !important;
    border-color: transparent !important; 
    box-shadow: none !important;
}


.accordion-button:not(.collapsed) {
    box-shadow: none;
}


.active-button {
    background-color: #20CC90; 
    color: white; 
    border: 1px solid #20CC90;
}


.submit-btn {
    border: 1px solid #20CC90;
    background-color: #20CC90;
    color: white;
    padding: 5px 55px;
    border-radius: 6px;
}

.submit-btn:hover {
    background-color: #34b186;
}

.save-btn {
    margin-top: 50px;
}

  
.accordion-button:not(.collapsed) {
    background-color: #ffffff;
}
  

@media (min-width: 1468px) {
    .main-wrapper {
        margin-top: 150px !important;
    }
}

@media (min-width: 1200px) and (max-width: 1468px) {
    .main-wrapper {
        margin-top: 180px !important;
    }
  
}

@media (min-width: 576px) and (max-width: 1200px) {
   
    .main-wrapper {
        margin-top: 90px !important;
    }
  
}
