
<section class="main-wrapper">
        <div class="container-fluid">
                <div class="card">
                        <div class="card-body ">
                                <div class="mb-0">
                                        <img src="assets/images/leftCircle.svg" class="img-fluid" style="cursor: pointer;" />
                                </div>
                                <div class="d-flex justify-content-center justify-content-between">
                                        <div class="d-flex justify-content-center align-items-center">
                                                <h5 class="mb-0 me-4 sale-order">Sales Orders</h5>
                                                <div class="search-container">
                                                        <i class="fa fa-search search-icon"></i>
                                                        <input type="text" placeholder="Search here.."
                                                                class="search-bar h-auto">
                                                        <img src="assets/images/search-filter.svg" class="img-fluid filter-icon"
                                                                style="width: 16px;" />
                                                </div>
                                        </div>

                                        <div class="d-flex align-items-center">
                                                <i class="fa-solid fa-list list-icon me-4" style="cursor: pointer;"></i>
                                                <img src="assets/images/file.svg" class="img-fluid me-4"
                                                        style="width: 16px; cursor: pointer;" />
                                                <button class="new-btn">+ New</button>
                                        </div>
                                </div>

                                <div class="d-flex justify-content-center justify-content-between mt-4 mb-3">
                                        <div>
                                                <button class="header-btn"
                                                        [ngClass]="{'active': activeButton === 'All'}"
                                                        (click)="setActive('All')">
                                                        All
                                                </button>
                                                <button class=" header-btn mx-2"
                                                        [ngClass]="{'active': activeButton === 'New'}"
                                                        (click)="setActive('New')">
                                                        New
                                                </button>
                                                <button class="header-btn"
                                                        [ngClass]="{'active': activeButton === 'Confirmed'}"
                                                        (click)="setActive('Confirmed')">
                                                        Confirmed
                                                </button>
                                                <button class=" header-btn mx-2"
                                                        [ngClass]="{'active': activeButton === 'Wait for Loading'}"
                                                        (click)="setActive('Wait for Loading')">
                                                        Wait for Loading
                                                </button>
                                                <button class="header-btn"
                                                        [ngClass]="{'active': activeButton === 'Partially Dispatched'}"
                                                        (click)="setActive('Partially Dispatched')">
                                                        Partially Dispatched
                                                </button>
                                                <button class=" header-btn mx-2"
                                                        [ngClass]="{'active': activeButton === 'Dispatched'}"
                                                        (click)="setActive('Dispatched')">
                                                        Dispatched
                                                </button>
                                                <button class=" header-btn"
                                                        [ngClass]="{'active': activeButton === 'Void'}"
                                                        (click)="setActive('Void')">
                                                        Void
                                                </button>
                                        </div>

                                        <div>
                                                <button class="header-btn mx-2"
                                                        [ngClass]="{'active': activeFileButton === 'AllFile'}"
                                                        (click)="setActiveFile('AllFile')">All</button>
                                                <button class="header-btn mx-2"
                                                        [ngClass]="{'active': activeFileButton === 'Excel'}"
                                                        (click)="setActiveFile('Excel')">Excel</button>
                                                <button class=" header-btn mx-2"
                                                        [ngClass]="{'active': activeFileButton === 'Csv'}"
                                                        (click)="setActiveFile('Csv')">Csv</button>
                                                <button class=" header-btn mx-2"
                                                        [ngClass]="{'active': activeFileButton === 'Print'}"
                                                        (click)="setActiveFile('Print')">Print</button>
                                                <button class=" header-btn mx-2"
                                                        [ngClass]="{'active': activeFileButton === 'coloumnVisible'}"
                                                        (click)="setActiveFile('coloumnVisible')">Coloumn
                                                        Visibility</button>
                                        </div>
                                </div>
                                
                                <div class="table-responsive">
                                        <table class="table">
                                                <thead class="tbody">
                                                        <tr>
                                                                <th><input class="checkbox" type="checkbox"
                                                                                (change)="toggleAll($event)"
                                                                                [checked]="isAllSelected()" /></th>
                                                               
                                                                <th scope="col">So no
                                                                        <i class="fa-solid fa-angle-down arrow-icon ms-1"></i>
                                                                </th>
                                                                <th scope="col">Customers
                                                                        <i class="fa-solid fa-angle-down arrow-icon ms-1"></i>
                                                                </th>
                                                                <th scope="col">Region
                                                                        <i class="fa-solid fa-angle-down arrow-icon ms-1"></i>
                                                                </th>
                                                                <th scope="col">Date
                                                                        <i class="fa-solid fa-angle-down arrow-icon ms-1"></i>
                                                                </th>
                                                                <th scope="col">Confirm Date</th>
                                                                <th scope="col">Confirmation</th>
                                                                <th scope="col">Quantity</th>
                                                                <th scope="col">Amount</th>
                                                                <th scope="col">Prepared by</th>
                                                                <th scope="col">Approved by</th>
                                                                <th scope="col">Status</th>
                                                        </tr>
                                                </thead>

                                                <tbody  class="tbody">
                                                        
                                                        <tr *ngFor="let item of items; let i = index" class=" align-items-center ">
                                                                <td class="table-row "><input type="checkbox"
                                                                                class="checkbox"
                                                                                [(ngModel)]="item.selected"
                                                                                (change)="updateSelection()" /></td>
                                                         
                                                                <th class="table-row" scope="row">
                                                                        {{ item.id }}
                                                                        <img src="assets/images/Group.svg"
                                                                                class="img-fluid ms-2 me-2"
                                                                                style="width: 15px;">
                                                                        <img src="assets/images/Group1.svg"
                                                                                class="img-fluid me-2"
                                                                                style="width: 15px;">
                                                                        <img src="assets/images/Group2.svg"
                                                                                class="img-fluid" style="width: 15px;">
                                                                </th>
                                                                <td class="table-row text-center">{{ item.customers }}</td>
                                                                <td class="table-row">{{ item.region }}</td>
                                                                <td class="table-row">{{ item.date }}</td>
                                                                <td class="table-row">{{ item.confirmDate }}</td>
                                                                <td class="table-row">
                                                                        <button class="confirmation-btn me-1"
                                                                                [ngClass]="{
                                                                                    'btn-cancel': item.confirmation === 'cancel',
                                                                                    'btn-outline-cancel': item.confirmation !== 'cancel',
                                                                                    'disabled': item.confirmation !== 'cancel'
                                                                                }"
                                                                                [disabled]="item.confirmation !== 'cancel'">
                                                                            Cancel
                                                                        </button>
                                                                        <button class="confirmation-btn"
                                                                                [ngClass]="{
                                                                                    'btn-confirm': item.confirmation === 'confirm',
                                                                                    'btn-outline-confirm': item.confirmation !== 'confirm',
                                                                                    'disabled': item.confirmation !== 'confirm'
                                                                                }"
                                                                                [disabled]="item.confirmation !== 'confirm'">
                                                                            Confirm
                                                                        </button>
                                                                    </td>
                                                                    
                                                                <td class="table-row">{{ item.quantity }}</td>
                                                                <td class="table-row">{{ item.amount }}</td>
                                                                <td class="table-row">{{ item.preparedBy }}</td>
                                                                <td class="table-row">{{ item.approvedBy }}</td>
                                                                <td class="table-row">{{ item.status }}</td>
                                                        </tr>
                                                        
                                                </tbody>
                                                
                                        </table>


                               
                        </div>

                        </div>
                </div>
        </div>
</section>