<section class="cash-flow-setup">
    <div ngbAccordion>
        <div ngbAccordionItem [collapsed]="isCollapsed" class="mb-3">
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton (click)="isCollapsed = !isCollapsed">
                    <h4 class="account-title ">Cash Flow Setup</h4>
                </button>
            </h2>
            <div ngbAccordionCollapse class="p-4 pt-0">
                <div>
                    <!-- First multi-select field -->
                    <div class="mb-2">
                        <app-multi-select-field [multiList]="multiNetIncomeList"
                            (selectedItemsChange)="updateSelectedItems($event)">
                        </app-multi-select-field>
                    </div>

                    <!-- Second multi-select field -->
                    <div>
                        <app-multi-select-field [multiList]="multiNetReceiveList"
                            (selectedItemsChange)="updateSelectedItems($event)">
                        </app-multi-select-field>
                    </div>
                </div>
            </div>
        </div>

        <div ngbAccordionItem [collapsed]="isCollapsed1" class="mb-3">
            <h2 ngbAccordionHeader>             
                <button ngbAccordionButton (click)="isCollapsed1 = !isCollapsed1">
                    <h4 class="account-title ">Cash Flow Setup</h4>
                </button>
            </h2>
            <div ngbAccordionCollapse  class="p-4 pt-0">
                
                <div>
                    <div class="mb-2">
                        <app-multi-select-field [multiList]="multiNetRawMaterialList"
                            (selectedItemsChange)="updateSelectedItems($event)"></app-multi-select-field>
                    </div>
                    <div class="mb-2">
                        <app-multi-select-field [multiList]="multiNetWorkInventoryList"
                            (selectedItemsChange)="updateSelectedItems($event)"></app-multi-select-field>
                    </div>
                    <div>
                        <app-multi-select-field [multiList]="multiNetGoodsInventoryList"
                            (selectedItemsChange)="updateSelectedItems($event)"></app-multi-select-field>
                    </div>
                </div>
            </div>
        </div>

        <div ngbAccordionItem [collapsed]="isCollapsed2" class="mb-3">
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton (click)="isCollapsed2 = !isCollapsed2">
                    <h4 class="account-title">Cash Flow Setup</h4>
                </button>
            </h2>
            <div ngbAccordionCollapse class="p-4 pt-0">
                <div>
                    <app-multi-select-field [multiList]="multiNetCustomerDepositList"
                    (selectedItemsChange)="updateSelectedItems($event)"></app-multi-select-field>
                </div>
            </div>
        </div>

        <div ngbAccordionItem [collapsed]="isCollapsed3" class="mb-3">
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton (click)="isCollapsed3 = !isCollapsed3">
                    <h4 class="account-title">Cash Flow Setup</h4>
                </button>
            </h2>
            <div ngbAccordionCollapse class="p-4 pt-0">
                <div class="mb-2">
                    <app-multi-select-field [multiList]="multiNetDepricationList"
                        (selectedItemsChange)="updateSelectedItems($event)"></app-multi-select-field>
                </div>
                <div class="mb-2">
                    <app-multi-select-field [multiList]="multiNetPreExtensionList"
                        (selectedItemsChange)="updateSelectedItems($event)"></app-multi-select-field>
                </div>
                <div class="mb-2">
                    <app-multi-select-field [multiList]="multiNetPayablesList"
                        (selectedItemsChange)="updateSelectedItems($event)"></app-multi-select-field>
                </div>
                <div class="mb-2">
                    <app-multi-select-field [multiList]="multiNetAccurExpensesList"
                        (selectedItemsChange)="updateSelectedItems($event)"></app-multi-select-field>
                </div>
                <div>
                    <app-multi-select-field [multiList]="multiNetLoansList"
                        (selectedItemsChange)="updateSelectedItems($event)"></app-multi-select-field>
                </div>
            </div>
        </div>
        <div class="save-btn mt-2 text-center d-flex justify-content-md-end justify-content-center">
            <button class="submit-btn" (click)="cashFlowSave()">Save</button>
        </div>
    </div>
</section>