.main-wrapper {
    margin-top: 160px;
}

.general-title {
    font-size: 20px;
    font-weight: 600;
    color: #363636;
}

label {
    color: #727272;
    font-size: 14px;
    font-weight: 500;
}

.ng-select-placeholder {
    display: flex;
    align-items: center;
    color: #aaa;
  }
  
  .search-icon {
    margin-right: 8px; 
    color: #20CC90; 
  }
  
  .placeholder-text {
    font-size: 14px;
  }
  

input[type="date"],
input[type="text"] {
    padding: 18px 8px;
    border-radius: 5px;
    border: none;
    background-color: #F6F6F6;
}

.cancel-btn {
    border: 1px solid;
    padding: 6px 32px;
    border-radius: 8px;
    color: #CFCFCF;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
}

.cancel-btn:hover {
    background-color: #f4f1f1;
}

.add-btn {
    border: 1px solid;
    padding: 6px 32px;
    border-radius: 8px;
    color: white;
    background-color: #20CC90;
    font-size: 18px;
    font-weight: 500;
}

.add-btn:hover {
    background-color: #34b186;
}

.main-order {
    background-color: #fbfbfb;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 6px;
}

.order-title {
    color: #363636;
    font-weight: 600;
    font-size: 16px;
}

.order-price {
    color: #20CC90;
    font-size: 20px;
    font-weight: 600;
}

.delete-icon {
    color: #ffffff;
    background-color: #20CC90;
    border-radius: 20px;
    padding: 5px;
    font-size: 13px;
    cursor: pointer;
}

.sub-order {
    color: #363636;
    font-size: 14px;
    font-weight: 400;
}

.total-order {
    color: #20CC90;
    font-size: 20px;
    font-weight: 600;
}

.textarea-field {
    background-color: #F6F6F6;
    padding: 5px;
    border: none;
}

.nav-tabs {
    border-bottom: none; 
  }
  
  .nav-tabs .nav-item .nav-link {
    border: none;
    border-bottom: 2px solid transparent; 
    color: #363636; 
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0px 10px 0px; 
    margin-right: 40px;
  }
  
  .nav-tabs .nav-item .nav-link.active {
    border-color: #20CC90; 
    color: #20CC90; 
  }
  