.main-wrapper {
    margin-top: 90px;
}

.general-title {
    font-size: 20px;
    font-weight: 600;
    color: #363636;
}

label {
    color: #727272;
    font-size: 14px;
    font-weight: 500;
}

.ng-select-placeholder {
    display: flex;
    align-items: center;
    color: #aaa;
}

.search-icon {
    margin-right: 8px;
    color: #20CC90;
}

.placeholder-text {
    font-size: 14px;
}



input[type="date"],
input[type="text"] {
    padding: 18px 8px;
    border-radius: 5px;
    border: none;
    background-color: #F6F6F6;
}

.cancel-btn {
    border: 1px solid;
    padding: 6px 32px;
    border-radius: 8px;
    color: #CFCFCF;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
}

.cancel-btn:hover {
    background-color: #f4f1f1;
}

.add-btn {
    border: 1px solid;
    padding: 6px 42px;
    border-radius: 8px;
    color: white;
    background-color: #20CC90;
    font-size: 18px;
    font-weight: 500;
}

.add-btn:hover {
    background-color: #34b186;
}













.textarea-field {

    background-color: #F6F6F6;
    padding: 5px;
    border: none;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

textarea {
    padding: 5px;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-item .nav-link {
    border: none;
    border-bottom: 2px solid transparent;
    color: #363636;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0px 10px 0px;
    margin-right: 40px;
}

.nav-tabs .nav-item .nav-link.active {
    border-color: #20CC90;
    color: #20CC90;
}

.order-summary {
    position: fixed;
    right: 0;
    top: 90px;
    width: 370px;
    height: calc(100vh - 90px);
}






.order-summary ::-webkit-scrollbar {
    width: 7px;
}

.order-summary ::-webkit-scrollbar-track {
    background: #B0B0B0;
    border-radius: 24px;
}

.order-summary ::-webkit-scrollbar-thumb {
    border-radius: 20px;
}

.order-summary ::-webkit-scrollbar-thumb:hover {
    background: #B0B0B0;
}






.ar-receipts {
    margin-right: 0px;
}


input[type="date"] {
    padding: 8px;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    margin-right: 10px;
    align-self: center;
}

input[type="date"]::-moz-calendar-picker-indicator {
    margin-right: 10px;
    align-self: center;
}




@media only screen and (min-width: 1400px) {

    .order-summary {
        position: fixed;
        right: 0;
        top: 158px;
        width: 420px;
        height: calc(100vh - 165px);
    }

    .main-wrapper {
        margin-top: 160px;
    }
}


@media only screen and (min-width:768px) {

    .ar-receipts {
    margin-right: 370px;
    }

}


@media only screen and (min-width:1400px) {

    .ar-receipts {
    margin-right: 420px;
    }

}