<app-top-bar></app-top-bar>
<section class="main-wrapper">
    <div class="container-fluid">
        <form class="form" [formGroup]="generalForm">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body pb-0">
                            <div class="d-flex align-items-center justify-content-between mb-0">
                                <img src="assets/images/leftCircle.svg" class="img-fluid" style="cursor: pointer;" />
                                <i class="fa-solid fa-angle-down arrow-icon ms-auto"></i>
                            </div>
                            <h5 class="mb-0 mt-4 general-title">General</h5>
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="mt-3" for="customer">Customers:</label>
                                        <ng-select [items]="customersData" bindLabel="name" bindValue="id"
                                            formControlName="customer" placeholder="Select customer" [searchable]="true"
                                            (change)="onCustomerSelected($event)">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="mt-3" for="status">Status:</label>
                                        <ng-select [items]="statusData" bindLabel="name" bindValue="id"
                                            formControlName="status" placeholder="Select status" [searchable]="true"
                                            (change)="onStatusSelected($event)">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="mt-3" for="refNo">Ref No:</label>
                                        <input formControlName="refNo" class="form-control" type="text"
                                            placeholder="Enter Ref No." />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="mt-3" for="soDate">So Date:</label>
                                        <input formControlName="soDate" class="form-control" type="date" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="mt-3" for="cancelDate">Cancel Date:</label>
                                        <input formControlName="cancelDate" class="form-control" type="date" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-2">
                        <div class="card-body pb-0">
                            <div class="d-flex align-items-center justify-content-between mb-0">
                                <h5 class="mb-0  general-title">Address Info</h5>
                                <i class="fa-solid fa-angle-down arrow-icon ms-auto"></i>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="mt-3" for="shipTo">Ship to Address:</label>
                                        <ng-select [items]="shipAddressData" bindLabel="name" bindValue="id"
                                            formControlName="shipToAddress" placeholder="Select Ship Address"
                                            [searchable]="true" (change)="onShipAddressSelected($event)">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="mt-3" for="billTo">Bill to Address:</label>
                                        <ng-select [items]="billAddressData" bindLabel="name" bindValue="id"
                                            formControlName="billToAddress" placeholder="Select Bill Address"
                                            [searchable]="true" (change)="onBillAddressSelected($event)">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="mt-3" for="phNo">Ph No:</label>
                                        <input formControlName="phNo" class="form-control mt-2" type="text"
                                            placeholder="Enter phone no." />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="mt-3" for="saleRe">Sales Rep:</label>
                                        <input formControlName="saleRep" class="form-control" type="text"
                                            placeholder="Enter sale rep" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-2">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between mb-0">
                                <h5 class="mb-0  general-title">Details</h5>
                                <i class="fa-solid fa-angle-down arrow-icon ms-auto"></i>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="mt-3" for="itemId">Item ID:</label>
                                        <input formControlName="itemID" class="form-control mt-2" type="text"
                                        placeholder="Enter item id" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="mt-3" for="descr">Description:</label>
                                        <ng-select [items]="descriptionData" bindLabel="name" bindValue="id"
                                            formControlName="description" placeholder="Select description"
                                            [searchable]="true" (change)="onDescriptionSelected($event)">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="mt-3" for="orderQt">Order Qty:</label>
                                        <input formControlName="orderQty" class="form-control mt-2" type="text"
                                            placeholder="Enter order quantity" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="mt-3" for="price">Price:</label>
                                        <input formControlName="price" class="form-control" type="text"
                                            placeholder="Enter price" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="mt-3" for="extPri">Ext Price:</label>
                                        <input formControlName="extPrice" class="form-control" type="text"
                                            placeholder="Enter ext price" />
                                    </div>
                                </div>
                            </div>

                            <div class="footer-btn d-flex align-items-center justify-content-center mt-3">
                               <button class="cancel-btn me-4">Cancel</button> 
                               <button class="add-btn">Add</button> 
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="mb-0  general-title">Order Summary</h5>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</section>