.table-header {
    cursor: pointer;
    font-size: 14px;
}

td {
    font-size: 12px;
}

.confirmation-btn {
    padding: 4px 8px 4px 8px;
    font-size: 10px;
}

.header-btn {
    padding: 4px 8px 4px 8px;
    font-size: 12px;
    border: none;
    background-color: white;
    border-radius: 5px;
}

.header-btn.active {
    background-color: rgb(10, 143, 10);
    color: white;
}

input[type="text"] {
    padding: 8px 6px;
}
.form-select {
    height: 10%;
}
@media (min-width: 992px) {

    #table-complete-search {
        width: 50rem;
    }

}