<div class="sidebar d-none d-xl-block" [class.toggleSidebar]="toggleSidebar">
    <div>
        <div class="d-flex align-items-center user-profile mt-3 ms-4">
            <ng-container>
                <img src="assets/images/dummy logo.png" class="img-fluid me-2" style="width: 56px;" routerLink="">
            </ng-container>
            <div class="ml-2">
                <h6 class="header-title m-0">
                    {{userName}}
                </h6>
            </div>
        </div>
            <app-side-bar-template></app-side-bar-template>
    </div>
</div>

<ng-template #content let-offcanvas>
    <div class="offcanvas-header">
            <img src="assets/images/dummy logo.png" class="img-fluid me-2" style="width: 56px;" routerLink="">
            <div class="ml-2">
                 <h6 class="header-title m-0">
                     {{userName}}
                 </h6>
             </div>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
         <app-side-bar-template></app-side-bar-template>
    </div>
</ng-template>