<app-top-bar
  [toBarTitle]="toBarTitle"
  [showtopNav]="showtopNav"
  [listNav]="topBarList"
></app-top-bar>
<section class="main-wrapper">
  <div class="container-fluid mb-3">
    <div class="card">
      <div class="card-body pt-0 pb-0">
        <div
          class="mb-0 d-flex align-items-center justify-content-end mt-4 mt-md-0"
        >
          <div class="d-flex mt-0 d-md-none align-items-center new-btn-section">
            <button
              class="new-btn d-flex align-items-center justify-content-center"
              (click)="createSaleReturns()"
            >
              <i class="fa fa-plus me-sm-2"></i>
              <span class="d-none d-sm-block">New</span>
            </button>
          </div>
        </div>
        <div class="mt-md-1 mt-0">
          <div
            class="d-flex justify-content-between justify-content-end align-items-center mt-md-4 mt-3"
          >
            <form
              [formGroup]="salesReturnForm"
              class="search-container align-items-start align-items-lg-center mb-0 d-flex flex-column flex-md-row"
            >
              <div class="form d-flex select-container mt-2 mt-sm-0 flex-row">
                <ng-select
                  [items]="filterData"
                  bindLabel="name"
                  bindValue="id"
                  class="filter-field me-2 mt-1"
                  formControlName="filter"
                  placeholder="Filter"
                  [searchable]="true"
                  (change)="onfilterSelected($event)"
                >
                  <ng-template ng-placeholder-tmp>
                    <div class="ng-select-placeholder">
                      <i class="fa fa-search search-icon"></i>
                      <span class="placeholder-text">Filter</span>
                    </div>
                  </ng-template>
                </ng-select>
                <ng-select
                  [items]="operatorData"
                  bindLabel="name"
                  bindValue="id"
                  class="filter-field me-2 mt-1"
                  formControlName="operator"
                  placeholder="Operator"
                  [searchable]="true"
                  (change)="onCustomerSelected($event)"
                >
                  <ng-template ng-placeholder-tmp>
                    <div class="ng-select-placeholder">
                      <i class="fa fa-search search-icon"></i>
                      <span class="placeholder-text">Operator</span>
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div
                class="d-flex align-items-center justify-content-center mt-3 mt-md-0 mt-md-0 mb-0"
              >
                <input
                  formControlName="value"
                  class="filter-value-field mb-0"
                  type="text"
                  placeholder="value"
                />
                <button type="button " class="search-btn ms-3 me-2 mb-0">
                  <i class="fa fa-search d-block d-lg-none me-lg-2"></i>
                  <span class="d-none d-lg-block">Search</span>
                </button>
                <button type="button " class="filter-plus-btn ms-1 mb-0">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </form>

            <div class="d-md-flex d-none align-items-center new-btn-section">
              <button
                class="new-btn d-flex align-items-center justify-content-center"
                (click)="createSaleReturns()"
              >
                <i class="fa fa-plus me-lg-2"></i>
                <span class="m-0 p-0 d-none d-lg-block">New</span>
              </button>
            </div>
          </div>
          <div class="d-flex justify-content-start d-xxl-flex d-none">
            <div class="mt-3">
              <button type="button" class="outline-btn me-3">
                Confirmation
                <i class="fa fa-xmark cross-outline ms-2"></i>
              </button>
              <button type="button" class="outline-btn me-3">
                Out Date = 1000
                <i class="fa fa-xmark cross-outline ms-2"></i>
              </button>
              <button type="button" class="outline-btn">
                Vehicle No
                <i class="fa fa-xmark cross-outline ms-2"></i>
              </button>
            </div>
          </div>
        </div>
        <div
          class="d-flex flex-column flex-sm-row justify-content-between mt-sm-5 mt-4"
        >
          <div>
            <button
              class="header-btn mx-1"
              [ngClass]="{ active: activeButton === 'All' }"
              (click)="setActive('All')"
            >
              All
            </button>
            <button
              class="header-btn mx-1"
              [ngClass]="{ active: activeButton === 'New' }"
              (click)="setActive('New')"
            >
              New
            </button>
            <button
              class="header-btn"
              [ngClass]="{ active: activeButton === 'Close' }"
              (click)="setActive('Close')"
            >
              Close
            </button>
            <button
              class="header-btn mx-1"
              [ngClass]="{ active: activeButton === 'Open' }"
              (click)="setActive('Open')"
            >
              Open
            </button>
            <button
              class="header-btn"
              [ngClass]="{ active: activeButton === 'Void' }"
              (click)="setActive('Void')"
            >
              Void
            </button>
            <button
              class="header-btn mx-md-1 ps-1 ps-md-2"
              [ngClass]="{ active: activeButton === 'Returned' }"
              (click)="setActive('Returned')"
            >
              Returned
            </button>
          </div>
          <div class="mt-3 mt-sm-0">
            <button
              class="header-btn mx-md-1 ms-1 ps-1"
              [ngClass]="{ active: activeOtherButton === 'Void' }"
              (click)="setOtherActive('Void')"
            >
              Void
            </button>
            <button
              class="header-btn mx-md-1 ps-2 ps-md-2"
              [ngClass]="{ active: activeOtherButton === 'Preview' }"
              (click)="setOtherActive('Preview')"
            >
              Preview
            </button>
          </div>
          <div class="mt-xl-0 mt-3 mt-sm-0">
            <button
              class="header-btn mx-1"
              [ngClass]="{ active: activeFileButton === 'AllFile' }"
              (click)="setActiveFile('AllFile')"
            >
              All
            </button>
            <button
              class="header-btn mx-1"
              [ngClass]="{ active: activeFileButton === 'Excel' }"
              (click)="setActiveFile('Excel')"
            >
              Excel
            </button>
            <button
              class="header-btn mx-1"
              [ngClass]="{ active: activeFileButton === 'Csv' }"
              (click)="setActiveFile('Csv')"
            >
              Csv
            </button>
            <button
              class="header-btn mx-1"
              [ngClass]="{ active: activeFileButton === 'Print' }"
              (click)="setActiveFile('Print')"
            >
              Print
            </button>
            <button
              class="header-btn mx-md-1 ps-1 ps-md-2"
              [ngClass]="{ active: activeFileButton === 'coloumnVisible' }"
              (click)="setActiveFile('coloumnVisible')"
            >
              Coloumn Visibility
            </button>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead class="tbody">
              <tr>
                <th scope="col">
                  <input
                    class="checkbox"
                    type="checkbox"
                    (change)="toggleAll($event)"
                    [checked]="isAllSelected()"
                  />
                </th>
                <th scope="col">
                  Sales Invoice NO
                  <i class="fa-solid fa-angle-down arrow-icon mt-1 ms-2"></i>
                </th>
                <th scope="col">Return Date</th>
                <th scope="col">Status</th>

                <th scope="col">Customers</th>
                <th scope="col">Sale Invoice NO</th>
                <th scope="col">Quantity</th>
                <th scope="col">Net Amount</th>
                <th scope="col">Comment</th>
                <th scope="col">Prepared by</th>
              </tr>
            </thead>
            <tbody class="tbody">
              <tr
                *ngFor="let item of items && filteredItems; let i = index"
                class="align-items-center"
              >
                <td class="table-row">
                  <input
                    type="checkbox"
                    class="checkbox"
                    [(ngModel)]="item.selected"
                    (change)="updateSelection()"
                  />
                </td>
                <td class="table-row">
                  <span class="me-3">{{ item.salesInvoice }}</span>
                  <img
                    src="assets/images/Group2.svg"
                    class="img-fluid me-3"
                    style="width: 22px"
                  />
                  <img
                    src="assets/images/Group1.svg"
                    class="img-fluid me-3"
                    style="width: 15px"
                  />
                  <img
                    src="assets/images/Group2.svg"
                    class="img-fluid me-2"
                    style="width: 15px"
                  />
                </td>
                <td class="table-row">{{ item.returnDate }}</td>
                <td class="table-row">
                  <button
                    type="button"
                    [ngClass]="{
                        'status-btn': item.status === 'Confirmed',
                        'status-cancel': item.status === 'Cancel',
                      }"
                  >
                    {{ item.status }}
                  </button>
                </td>
                <td class="table-row">
                  {{ item.customers }}
                </td>
                <td class="table-row">
                  {{ item.saleInvoice }}
                </td>
                <td class="table-row">
                  {{ item.Quantity }}
                </td>
                <td class="table-row">
                  {{ item.netAmmount }}
                </td>
                <td class="table-row">
                  {{ item.Comment }}
                </td>
                <td class="table-row">
                  {{ item.preparedBy }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
