<app-top-bar
  [toBarTitle]="toBarTitle"
  [showtopNav]="showtopNav"
  [listNav]="topBarList"
></app-top-bar>
<section class="main-wrapper">
  <div class="container-fluid">
    <div ngbAccordion>
      <div class="row">
        <div class="col-md-8 pe-1">
          <div ngbAccordionItem [collapsed]="isCollapsed" class="">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton (click)="isCollapsed = !isCollapsed">
                <h4 class="sales-return-title">General</h4>
              </button>
            </h2>
            <div ngbAccordionCollapse class="p-4 pt-0">
              <form class="form" [formGroup]="salesReturnForm">
                <div class="row sales-return">
                  <div class="col-md-8">
                    <label class="mt-3">Customers:</label>
                    <div class="search-container">
                      <i class="fa fa-search search-icon"></i>
                      <input
                        type="text"
                        placeholder="Ab..."
                        class="search-bar h-auto"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="mt-3" for="status">Status:</label>
                      <ng-select
                        [items]="statusData"
                        bindLabel="name"
                        bindValue="id"
                        class="custom"
                        formControlName="status"
                        placeholder="Select customer"
                        [searchable]="true"
                        (change)="onStatusSelected($event)"
                      >
                        <ng-template ng-placeholder-tmp>
                          <div class="ng-select-placeholder">
                            <i class="fa fa-search search-icon"></i>
                            <span class="placeholder-text">Select Status</span>
                          </div>
                        </ng-template>
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group position-relative">
                      <label class="mt-3" for="soDate">Return Date:</label>
                      <input
                        class="form-control pr-5 ngb-dateInput"
                        formControlName="returnDate"
                        placeholder="yyyy-mm-dd"
                        name="dp"
                        [(ngModel)]="returnDateModel"
                        ngbDatepicker
                        #returnDatePicker="ngbDatepicker"
                      />

                      <button
                        class="calendar-btn"
                        (click)="returnDatePicker.toggle()"
                        type="button"
                      >
                        <i class="fa-solid fa-calendar"></i>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="mt-3" for="salesInvoice"
                        >Sales Invoice:</label
                      >
                      <ng-select
                        [items]="statusData"
                        bindLabel="name"
                        bindValue="id"
                        class="custom"
                        formControlName="salesInvoice"
                        placeholder="Select sales invoice"
                        [searchable]="true"
                        (change)="onSalesInvoiceSelected($event)"
                      >
                        <ng-template ng-placeholder-tmp>
                          <div class="ng-select-placeholder">
                            <i class="fa fa-search search-icon"></i>
                            <span class="placeholder-text"
                              >Select Sales Invoice</span
                            >
                          </div>
                        </ng-template>
                      </ng-select>
                    </div>
                  </div>
                </div>
              </form>
              <div class="dotted-box mt-4">
                <h1 class="box-heading m-0 p-0">Saleem Rejhana</h1>
                <h1 class="box-heading m-0 p-0">REJHANA</h1>
                <h1 class="box-heading mt-4 m-0 p-0">Rejhana City</h1>
                <h1 class="box-heading m-0 p-0">Pakistan 03420842286</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 ps-0"> 
          <div class="card order-summary pe-3 d-none d-md-block">
            <div class="card-body py-3">
              <h5 class="general-title">Order Summary</h5>
              <app-order-summary-sales-return [summaryData]="summaryData"></app-order-summary-sales-return>
            </div>
          </div>
        </div>
      </div>
      <div ngbAccordionItem [collapsed]="isCollapsed2" class="mb-3 mt-3">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton (click)="isCollapsed2 = !isCollapsed2">
            <h4 class="sales-return-title">Details</h4>
          </button>
        </h2>
        <div ngbAccordionCollapse class="p-4 pt-0">
          <div class="table-responsive">
            <table class="table">
              <thead class="tbody">
                <tr>
                  <th scope="col">License No</th>
                  <th scope="col">Sales Invoice No</th>
                  <th scope="col">Invoice Line No</th>
                  <th scope="col">Item ID</th>
                  <th scope="col">Order Qty</th>
                  <th scope="col">Return Qty</th>
                  <th scope="col">Available Qty</th>
                  <th scope="col">Unit Price</th>
                  <th scope="col">Net Amount</th>
                  <th scope="col">Comments</th>
                  <th scope="col">Tax</th>
                </tr>
              </thead>
              <tbody class="tbody">
                <tr
                  *ngFor="let item of tableData; let i = index"
                  class="align-items-center"
                >
                  <td class="table-row">{{ item.licenseNo }}</td>
                  <td class="table-row">{{ item.salesInvoiceNo }}</td>
                  <td class="table-row">{{ item.InvoiceLineNo }}</td>
                  <td class="table-row">{{ item.itemID }}</td>
                  <td class="table-row">{{ item.orderQty }}</td>
                  <td class="table-row">{{ item.returnQty }}</td>
                  <td class="table-row">{{ item.availableQty }}</td>
                  <td class="table-row">{{ item.unitPrice }}</td>
                  <td class="table-row">{{ item.netAmount }}</td>
                  <td class="table-row">{{ item.Comments }}</td>
                  <td class="table-row">{{ item.Tax }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div
            class="footer-btn d-flex align-items-center justify-content-center mt-3"
          >
            <button class="cancel-btn me-4">Cancel</button>
            <button class="add-btn">Add</button>
          </div>
        </div>
      </div>
      <div ngbAccordionItem [collapsed]="isCollapsed3" class="mb-3">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton (click)="isCollapsed3 = !isCollapsed3">
            <h4 class="sales-return-title">Comment</h4>
          </button>
        </h2>
        <div ngbAccordionCollapse class="p-4 pt-0">
          <div class="row">
            <div class="col-md-12">
              <textarea
                class="form-control"
                placeholder="Lorm Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make"
                formControlName="comment"
                rows="4"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
