<section class="multiSelect">
    <form class="form" [formGroup]="accountForm">
        <label>{{multiNetIncomeList?.label}}</label>
        <ng-multiselect-dropdown [placeholder]="'Select..'" [settings]="dropdownSettings"
            [data]="dropdownList" formControlName="accountVal" (onSelect)="onItemSelect($event)"
             (onDeSelect)="onItemDeselect($event)"
            (onSelectAll)="onSelectAll($event)"  (onDeSelectAll)="onDeselectAll($event)" class="multiSelectDropDown">
        </ng-multiselect-dropdown>
    </form>
</section>