/* You can add global styles to this file, and also import other style files */
@import "@ng-select/ng-select/themes/default.theme.css";



body {
    background-color: #eeeeee;
}

.main-wrapper {
    margin-top: 90px;
    transition: all 0.5s ease;
    /* background-color: #ffffff; */
}

/* .toggled-nav .main-wrapper {
    padding-left: 55px;
} */

.card {
    border-radius: 12px;
}

.card-body {
    padding: 25px;
}

.ng-select .ng-select-container {
    background-color: #F6F6F6 !important;
    border: none;
}

.filter-field .ng-select-container {
    background-color: #ffffff !important;
}

/**----------------------------------for toggle button in top-bar-------------------------------*/
.collapse-btn {
    background-color: #fff;
    border: none;
    position: fixed;
    top: 18px;
    left: 15px;
    z-index: 999;
    transition: all 0.5s ease;
}

.hamburger-icon {
    width: 20px;
    height: 14px;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.hamburger-icon span {
    background-color: #878a99;
    position: absolute;
    border-radius: 2px;
    -webkit-transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width: 100%;
    height: 2px;
    display: block;
    left: 0;
}

.hamburger-icon span:nth-child(1) {
    top: 0;
    width: 80%;
}

.hamburger-icon span:nth-child(2) {
    top: 6px;
}

.hamburger-icon span:nth-child(3) {
    bottom: 0;
    width: 60%;
}

.vertical-menu-btn:hover .hamburger-icon:not(.open) span:nth-child(1) {
    top: -1px;
}

/*-------------------------------------------------------------------------------------------------*/

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: #20CC9033 !important;
    color: #333 !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
    color: #333 !important;
    background-color: #20CC9033 !important;
}



/* .toggled-nav .main-wrapper {
    padding-left: 55px;
} */

.list-icon {
    color: #20CC90;
}

.offcanvas {
    width: auto !important;
}

.ngb-dp-weekday,
.ngb-dp-navigation-chevron,
.ngb-dp-arrow-next .ngb-dp-navigation-chevron {
    color: #20CC90 !important;
}

.bg-primary,
.btn-light:hover {
    background-color: #20CC90 !important;
}

@media (min-width: 1200px) {
    .main-wrapper {
        padding-left: 285px !important;
    }

}


@media (min-width: 1200px) {
    .main-wrapper {
        margin-top: 100px;
        transition: all 0.5s ease;
    }
}

@media only screen and (max-width: 767px) {
    body {
        padding-left: 0px;
        padding-right: 0px;


    }
}



@media (max-width: 768px) {
    .main-wrapper {
        margin-top: 70px !important;
        transition: all 0.5s ease;
    }
}